<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project.pethouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TransactionDetailActivity"/>
        <activity android:name=".activity.TransactionStatusActivity"></activity>
        <activity android:name=".activity.TransactionSuccessActivity"></activity>
        <activity android:name=".ViewPagerAdapterPethouseProfile" />
        <activity android:name=".activity.PethouseProfileActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.BookActivity" />
        <activity android:name=".activity.PromoActivity"/>
        <activity android:name=".activity.EditActivity"/>
        <activity android:name=".activity.AboutUsActivity"/>
    </application>

</manifest>